@import '../../styles//varialbles.scss';

div.post-list{
    padding: 2rem;
    background-color: $background-color;
    display: flex;
    flex-wrap: wrap;// this i have to see side by side but it is not working
    
@include breakpoint-small{
    padding-right: 0;
}

.total-rate{
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
    color: $secondary-color;
}
}

